@import '../../../../sass/variables';

.ReactModal__Overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65) !important;
  overflow-y: auto !important;
}

body.ReactModal__Body--open {
	overflow-y: hidden !important;
}

.BasicModal {
  box-shadow: $shadow;
  bottom: auto;
  left: 50%;
  right: auto;
  top: 30%;
  position: fixed;
  transform: translate(-50%, 0);
  width: 100%;
  line-height: 1.75;

  h1, h2 {
    font-weight: 700;
  }

  &:focus {
		outline: none;
	}

  &-inner {
    background-color: #ffffff;
    border-radius: 0;
  }

  &-header {
    position: relative;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #cccccc;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &-body {
    padding: 20px;
    overflow-x: auto;
  }

  &-footer {
    padding: 20px;
    border-top: 1px solid #cccccc;
    &-inner {
      width: 100%;
      text-align: right;
    }
  }

  .modal-close{
    cursor: pointer;
		position: absolute;
		top: 24px;
		left: 20px;
		font-size: 14px;
		text-decoration: none;
		line-height: 1.2;
		color: #999999 !important;
    &:hover, &:focus{
			color: darken(#999999, 20%) !important;
		}
    .fas.fa-times {
      font-size: 16px;
      position: absolute;
    }
    span {
      margin-left: 15px;
    }
	}

  @media (min-width: $screen-sm) {
    width: 60%;

    &.modal__center{
			left: 50%;
			right: auto;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
  }

  @media (min-width: $screen-md) {
    width: 40%;
  }
}
